# docker-compose.yaml
services:
  backend:
    build:
      context: ./rasch-server
      dockerfile: Dockerfile
    image: rasch-server:latest
    ports:
      - "${BACKEND_SERVER_PORT:-49435}:3000"
      - "${BACKEND_RSTUDIO_PORT:-49436}:8787"
    environment:
      - BACKEND_SERVER_PORT=${BACKEND_SERVER_PORT:-49435}
      - BACKEND_RSTUDIO_PORT=${BACKEND_RSTUDIO_PORT:-49436}

  frontend:
    build:
      context: ./rasch-client
      dockerfile: Dockerfile
      args:
        - VITE_BACKEND_SERVER_HOST_PORT=${BACKEND_SERVER_HOST:-localhost}:${BACKEND_SERVER_PORT:-49435} # Pass build arg to frontend
    ports:
      - "${FRONTEND_PORT:-49437}:80"
    environment:
      - FRONTEND_PORT=${FRONTEND_PORT:-49437}
      - VITE_BACKEND_SERVER_HOST_PORT=${BACKEND_SERVER_HOST:-localhost}:${BACKEND_SERVER_PORT:-49435} # Set env var for frontend
    depends_on:
      - backend

networks:
  default:
    driver: bridge
